# Clerk Credentials
VITE_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
CLERK_SIGN_IN_URL="/sign-in"
CLERK_SIGN_UP_URL="/sign-up"
CLERK_SIGN_IN_FORCE_REDIRECT_URL="/"
CLERK_SIGN_UP_FORCE_REDIRECT_URL="/"

# Database Credentials
DATABASE_URL="postgres://user:password@host:5432/postgres"

#R2 Credentials
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""

# App Configuration
NODE_ENV="development"